#create-blog-screen {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid red; */
}

#create-blog-header-style {
  text-align: center;
}

#create-blog-header-style > h1 {
  font-size: 35px;
  text-transform: uppercase;
}

#create-blog-header-style::after {
  content: "";
  position: absolute;
  top: 95%;
  width: 10%;
  aspect-ratio: 3 / 1;
  transform: translate(-50%, 392%);
  border-radius: 50%;
  border: 6px solid hsl(251, 100%, 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  mask: conic-gradient(
    from var(--start),
    white 0 var(--spread),
    transparent var(--spread)
  );
}

#create-blog {
  height: auto;
  width: 50%;
  margin: 50px 0;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
  /* border: 1px solid green; */
}

#create-blog-header {
  height: 150px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("https://www.hudsonintegrated.com/pub/blogimages/20140305094710_blog49006_640.png");
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border: 1px solid blue; */
}

#create-blog-image {
  height: 100%;
  width: 100%;
  position: absolute;
}

#create-blog-image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#create-blog-header > h1 {
  position: absolute;
  color: white;
}
#create-blog-body > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px 20px 10px;
  /* border: 1px solid orange; */
}

form > .fields {
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  /* border: 1px solid black; */
}

form > .fields > label {
  font-size: 16px;
  font-weight: 400;
}

form > .fields > input {
  height: 100%;
  width: 70%;
  border: none;
  outline: none;
  transition: 0.2s ease;
  border-bottom: 1px solid rgb(194, 194, 194);
}

form > .fields > input:hover {
  border-bottom: 1px solid black;
}

#create-blog-btn {
  /* border: 1px solid black; */
  margin: 15px 0 10px 0;
}

#create-blog-btn > button {
  padding: 6px 35px;
  border: none;
  background: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  border: 1px solid rgb(146, 146, 146);
}

#create-blog-btn > button:hover {
  color: white;
  background-color: rgb(0, 0, 0);
}
